.avatar-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #78b0a0;
}

.backArrow {
    display: flex;
    color: inherit;
    align-items: center;
}

.backButton {
    display: flex;
    justify-content: center;
    text-align: center;

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #2D2B2D;

    position: fixed;
    top: 8rem;
    left: 8rem;
    z-index: 1;
    transition: all 1s ease-out;
}

.backButton:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

body {
    background: linear-gradient(#353335, #383638);
    margin: 0px;
    color: #efdab9;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.bottomSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50vh 0 20vh 0;
}

.buttonPrev {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 5px;

}

.buttonNext {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 5px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    background: url("./images/integrated.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-image {
    width: 24rem;
    height: 24rem;
    border-radius: 19%;
}

.outerArea {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.chatContainer {
    display: table-cell;
    vertical-align: middle;
}

.chatArea {
    text-align: center;
    width: 360px;
    height: 500px;
    margin: 10vh auto 10vh auto;
}

.chatBody {
    height: 440px;
    width: 100%;
    background-color: #fdf8e3;
    margin: auto;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 2% 2% 0 0;
}

.chatInput {
    height: 60px;
    width: 100%;
    background-color: #2D2B2D;
    border-radius: 0 0 2% 2%;

}

.chatInput>form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 2% 2%;

}

.chatComponent {
    padding: 6px;
    background-color: #2D2B2D;
    border-radius: 2%;
}

#chatText {
    float: left;
    height: 40px;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    margin: 0 0.5rem 0 0.5rem;
    width: calc(100% - 52px);
    background-color: #dedfed;
    font-size: 14px;
    font-family: inherit;
    box-sizing: border-box;
}

#chatText:focus {
    outline: none;
}

.message {
    margin: 0;
    font-size: 1.2rem;

}

.client>.message {
    color: #2D2B2D;
}

.client,
.bot {
    padding: 0.5rem 1rem;

    max-width: 60%;
    word-wrap: break-word;
    text-align: justify;
}

.client {
    border-radius: 30px 0 30px 30px;
    margin: 0 5px 10px 0;
    align-self: flex-end;
    background-color: #efdab9;
}

.bot {
    border-radius: 0 30px 30px 30px;
    margin: 0 0 10px 5px;
    align-self: flex-start;
    background-color: #444044;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background-color: #659cc8;
    border-color: #e3e3e3;
}

.send:hover {
    background-color: #4649FF;
}

.container {
    display: flex;
    /* width: 16rem; */
    height: 24rem;
    border-radius: 19%;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer {
    width: 100%;
    background-color: #353335;
    display: flex;
    height: 8vh;
    align-items: center;
    position: fixed;
    /* padding: 0 0 0 clamp(0%, 20%, 50%); */
    bottom: 0;
    justify-content: center;
}

.footerList {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
}

.footerList>.footerList-item a {
    text-decoration: none;
    color: #efdab9;
    transition: font-size 0.5s, opacity 0.5s;
}

.footerList:hover>.footerList-item a {
    opacity: 20%;

}

.footerList:hover>.footerList-item a:hover {
    opacity: 100%;
    font-size: large;
}

.hidden {
    opacity: 0;
    filter: blur(2px);

    transition: all 1.5s;
}

.hidden-left {
    transform: translateX(-100%);

}

.hidden-right {
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
    /* transition: all 1.5s ease-in-out; */
}

.homeMenu {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    list-style-type: none;
    margin: 0;

    margin-left: clamp(0%, 20%, 50%);

    z-index: 1;
}

.homeMenu-item {
    transition: opacity 0.4s;
    padding: 2vh 0;
}

.homeMenu-link {
    font-size: larger;
    color: #efdab9;
    text-decoration: none;
}

.homeMenu[index="0"]~.pattern {
    background-position: 0% 25%;
}

.homeMenu[index="1"]~.pattern {
    background-position: 0% 50%;
}

.homeMenu[index="2"]~.pattern {
    background-position: 0% 75%;
}

.homeMenu[index="0"]~.pattern-image {
    background-position: 25% 40%;
}

.homeMenu[index="1"]~.pattern-image {
    background-position: 25% 50%;
}

.homeMenu[index="2"]~.pattern-image {
    background-position: 25% 60%;
}

.homeMenu:hover~.pattern-image {
    opacity: 15%;
}

.homeMenu:hover>.homeMenu-item {
    opacity: 20%;
}

.homeMenu:hover>.homeMenu-item:hover {
    opacity: 100%;
}

.homeMenu:hover~.pattern {
    background-size: 8.5vmin 8.5vmin;
    opacity: 50%;
}

.menu {
    display: flex;
    height: 92vh;
    align-items: center;
}

.middleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pattern {
    height: 92vh;
    width: 100vw;

    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%,
            transparent 9%);
    background-position: 0% 0%;
    background-size: 9.5vmin 9.5vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    transition: background-position 1s, background-size 0.3s, opacity 0.3s ease-in-out;
}

.pattern-image {
    background-image: url("./images/image.JPG");
    height: 92vh;
    width: 100vw;
    z-index: 0;
    position: absolute;

    background-repeat: no-repeat;
    background-position: 25% 50%;
    opacity: 20%;
    background-size: cover;
    top: 0;
    left: 0;

    transition: opacity 0.5s, background-position 1s;
}

.profile {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}

.scrollbar {
    height: .5rem;
    background-color: #efdab9;
    position: fixed;
    top: 0px;
    inset: 0 0 auto 0;
}

.text {
    margin: 0;
    max-width: 40vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: clamp(1rem, 2vw, 2rem);
}

.text-mid {
    margin: 0 0 0 10%;
}

.text-bot {
    margin: 0 5% 0 0;
    max-width: 35vw;
}

.topSection {
    display: flex;
    text-align: center;
    margin: 40vh 0 50vh 0;
    flex-direction: column;
}

.wrapper {
    max-width: 100%;
    height: auto;
}

@media(max-width: 700px) {

    .text {
        max-width: 80vw;
    }

    .text-mid {
        margin: 10% 0 0 0;
    }

    .text-bot {
        margin: 10% 0 0 0;
    }

    .backButton {
        top: 4rem;
        left: 4rem;
    }

    .bottomSection {
        flex-wrap: wrap-reverse;
    }

    .carousel {
        width: 25rem;
        height: 25rem;
    }

    .carousel-image {
        width: 20rem;
        height: 20rem;
    }

}